/** body **/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #999999b4;
}

h1 a{
    text-decoration: none;
    color: white
}

/** header **/

header {
    background-color: #333333;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header img {
    height: 25px;
}

/** main **/

main img{
    height: 300px;
    width: 424px;
    margin: 15px;  
    border-radius: 15px;
    object-fit: cover;
}

/** NAV **/

nav a{
    padding: 20px;
    color: white;
    font-weight: bold;
}

/*modifier et supprimer les photo*/

.photo-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

a {
    margin-left: 5px;
}

.Icon{
    width: 30px;
    height: 30px;
    border-radius: 0px;
}

/*test*/
